# Dependencies
node_modules/

# Lock files
yarn.lock
pnpm-lock.yaml
bun.lockb
package-lock.json

# Public
public/*

# Build output
dist/
out-tsc/
.angular/
*.tsbuildinfo

# Cache
tmp/
.build/
.cache/
.eslintcache
.stylelintcache

# Logs
logs/
*.log

# Testing
coverage/
reports/

# IDEs & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
