@layer utilities {
  $flex-directions: (
    'row': row,
    'row-reverse': row-reverse,
    'col': column,
    'col-reverse': column-reverse
  );
  %flex-base {
    --i-flex-direction: row;
    --i-flex-wrap: nowrap;
    --i-align-content: stretch;
    --i-justify-content: flex-start;
    --i-align-items: stretch;
    --i-gap: 0;

    flex-direction: var(--i-flex-direction);
    flex-wrap: var(--i-flex-wrap);
    align-content: var(--i-align-content);
    justify-content: var(--i-justify-content);
    align-items: var(--i-align-items);
    gap: var(--i-gap);
    column-gap: var(--i-col-gap, var(--i-gap, 0));
    row-gap: var(--i-row-gap, var(--i-gap, 0));
  }

  .flex {
    @extend %flex-base;
    display: flex;
  }
  .inline-flex {
    @extend %flex-base;
    display: inline-flex;
  }

  @each $name, $value in $flex-directions {
    .flex-#{$name} {
      --i-flex-direction: #{$value};
    }
  }

  $flex-wraps: (
    'nowrap': nowrap,
    'wrap': wrap,
    'wrap-reverse': wrap-reverse
  );

  @each $name, $value in $flex-wraps {
    .flex-#{$name} {
      --i-flex-wrap: #{$value};
    }
  }

  $align-items: (
    'start': flex-start,
    'center': center,
    'end': flex-end,
    'stretch': stretch
  );

  @each $name, $value in $align-items {
    .align-#{$name} {
      --i-align-items: #{$value};
    }
  }

  $justify-contents: (
    'start': flex-start,
    'end': flex-end,
    'end-safe': safe flex-end,
    'center': center,
    'center-safe': safe center,
    'between': space-between,
    'around': space-around,
    'evenly': space-evenly,
    'stretch': stretch,
    'baseline': baseline,
    'normal': normal
  );

  @each $name, $value in $justify-contents {
    .justify-#{$name} {
      --i-justify-content: #{$value};
    }
  }

  $gap-sizes: ('3xs', '2xs', 'xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl');

  @each $size in $gap-sizes {
    .gap-#{$size} {
      --i-gap: var(--i-gap-#{$size});
    }
    .gap-x-#{$size} {
      --i-col-gap: var(--i-gap-#{$size});
    }
    .gap-y-#{$size} {
      --i-row-gap: var(--i-gap-#{$size});
    }
  }

  @for $i from 0 through 8 {
    .gap-#{$i} {
      --i-gap: var(--i-gap-#{$i});
    }
    .gap-x-#{$i} {
      --i-col-gap: var(--i-gap-#{$i});
    }
    .gap-y-#{$i} {
      --i-row-gap: var(--i-gap-#{$i});
    }
  }

  .flex-fill {
    flex: 1 1 0%;
  }
  .flex-auto {
    flex: 1 1 auto;
  }
  .flex-initial {
    flex: 0 1 auto;
  }
  .flex-none {
    flex: 0 0 auto;
  }

  .grow {
    flex-grow: 1;
  }
  .grow-0 {
    flex-grow: 0;
  }
  .shrink {
    flex-shrink: 1;
  }
  .shrink-0 {
    flex-shrink: 0;
  }

  .basis-auto {
    flex-basis: auto;
  }
  .basis-0 {
    flex-basis: 0%;
  }
}
