@layer utilities {
  .h-full {
    height: 100%;
  }
  .h-0 {
    height: 0;
  }

  @for $i from 1 through 100 {
    .h-#{$i} {
      height: #{$i * 8}px;
    }
  }

  @for $i from 1 through 200 {
    .h-#{$i * 4}px {
      height: #{$i * 4}px;
    }
  }
}
