@layer utilities {
  .-m-3xs {
    margin: calc(-1 * var(--i-margin-3xs));
  }
  .-m-2xs {
    margin: calc(-1 * var(--i-margin-2xs));
  }
  .-m-xs {
    margin: calc(-1 * var(--i-margin-xs));
  }
  .-m-sm {
    margin: calc(-1 * var(--i-margin-sm));
  }
  .-m-md {
    margin: calc(-1 * var(--i-margin-md));
  }
  .-m-lg {
    margin: calc(-1 * var(--i-margin-lg));
  }
  .-m-xl {
    margin: calc(-1 * var(--i-margin-xl));
  }
  .-m-2xl {
    margin: calc(-1 * var(--i-margin-2xl));
  }
  .-m-3xl {
    margin: calc(-1 * var(--i-margin-3xl));
  }
}

@layer utilities {
  .-mt-3xs {
    margin-top: calc(-1 * var(--i-margin-3xs));
  }
  .-mt-2xs {
    margin-top: calc(-1 * var(--i-margin-2xs));
  }
  .-mt-xs {
    margin-top: calc(-1 * var(--i-margin-xs));
  }
  .-mt-sm {
    margin-top: calc(-1 * var(--i-margin-sm));
  }
  .-mt-md {
    margin-top: calc(-1 * var(--i-margin-md));
  }
  .-mt-lg {
    margin-top: calc(-1 * var(--i-margin-lg));
  }
  .-mt-xl {
    margin-top: calc(-1 * var(--i-margin-xl));
  }
  .-mt-2xl {
    margin-top: calc(-1 * var(--i-margin-2xl));
  }
  .-mt-3xl {
    margin-top: calc(-1 * var(--i-margin-3xl));
  }
}

@layer utilities {
  .-mb-3xs {
    margin-bottom: calc(-1 * var(--i-margin-3xs));
  }
  .-mb-2xs {
    margin-bottom: calc(-1 * var(--i-margin-2xs));
  }
  .-mb-xs {
    margin-bottom: calc(-1 * var(--i-margin-xs));
  }
  .-mb-sm {
    margin-bottom: calc(-1 * var(--i-margin-sm));
  }
  .-mb-md {
    margin-bottom: calc(-1 * var(--i-margin-md));
  }
  .-mb-lg {
    margin-bottom: calc(-1 * var(--i-margin-lg));
  }
  .-mb-xl {
    margin-bottom: calc(-1 * var(--i-margin-xl));
  }
  .-mb-2xl {
    margin-bottom: calc(-1 * var(--i-margin-2xl));
  }
  .-mb-3xl {
    margin-bottom: calc(-1 * var(--i-margin-3xl));
  }
}

@layer utilities {
  .-ms-3xs {
    margin-left: calc(-1 * var(--i-margin-3xs));
  }
  .-ms-2xs {
    margin-left: calc(-1 * var(--i-margin-2xs));
  }
  .-ms-xs {
    margin-left: calc(-1 * var(--i-margin-xs));
  }
  .-ms-sm {
    margin-left: calc(-1 * var(--i-margin-sm));
  }
  .-ms-md {
    margin-left: calc(-1 * var(--i-margin-md));
  }
  .-ms-lg {
    margin-left: calc(-1 * var(--i-margin-lg));
  }
  .-ms-xl {
    margin-left: calc(-1 * var(--i-margin-xl));
  }
  .-ms-2xl {
    margin-left: calc(-1 * var(--i-margin-2xl));
  }
  .-ms-3xl {
    margin-left: calc(-1 * var(--i-margin-3xl));
  }
}

@layer utilities {
  .-me-3xs {
    margin-right: calc(-1 * var(--i-margin-3xs));
  }
  .-me-2xs {
    margin-right: calc(-1 * var(--i-margin-2xs));
  }
  .-me-xs {
    margin-right: calc(-1 * var(--i-margin-xs));
  }
  .-me-sm {
    margin-right: calc(-1 * var(--i-margin-sm));
  }
  .-me-md {
    margin-right: calc(-1 * var(--i-margin-md));
  }
  .-me-lg {
    margin-right: calc(-1 * var(--i-margin-lg));
  }
  .-me-xl {
    margin-right: calc(-1 * var(--i-margin-xl));
  }
  .-me-2xl {
    margin-right: calc(-1 * var(--i-margin-2xl));
  }
  .-me-3xl {
    margin-right: calc(-1 * var(--i-margin-3xl));
  }
}

@layer utilities {
  .-mx-3xs {
    margin-right: calc(-1 * var(--i-margin-3xs));
    margin-left: calc(-1 * var(--i-margin-3xs));
  }
  .-mx-2xs {
    margin-right: calc(-1 * var(--i-margin-2xs));
    margin-left: calc(-1 * var(--i-margin-2xs));
  }
  .-mx-xs {
    margin-right: calc(-1 * var(--i-margin-xs));
    margin-left: calc(-1 * var(--i-margin-xs));
  }
  .-mx-sm {
    margin-right: calc(-1 * var(--i-margin-sm));
    margin-left: calc(-1 * var(--i-margin-sm));
  }
  .-mx-md {
    margin-right: calc(-1 * var(--i-margin-md));
    margin-left: calc(-1 * var(--i-margin-md));
  }
  .-mx-lg {
    margin-right: calc(-1 * var(--i-margin-lg));
    margin-left: calc(-1 * var(--i-margin-lg));
  }
  .-mx-xl {
    margin-right: calc(-1 * var(--i-margin-xl));
    margin-left: calc(-1 * var(--i-margin-xl));
  }
  .-mx-2xl {
    margin-right: calc(-1 * var(--i-margin-2xl));
    margin-left: calc(-1 * var(--i-margin-2xl));
  }
  .-mx-3xl {
    margin-right: calc(-1 * var(--i-margin-3xl));
    margin-left: calc(-1 * var(--i-margin-3xl));
  }
}

@layer utilities {
  .-my-3xs {
    margin-top: calc(-1 * var(--i-margin-3xs));
    margin-bottom: calc(-1 * var(--i-margin-3xs));
  }
  .-my-2xs {
    margin-top: calc(-1 * var(--i-margin-2xs));
    margin-bottom: calc(-1 * var(--i-margin-2xs));
  }
  .-my-xs {
    margin-top: calc(-1 * var(--i-margin-xs));
    margin-bottom: calc(-1 * var(--i-margin-xs));
  }
  .-my-sm {
    margin-top: calc(-1 * var(--i-margin-sm));
    margin-bottom: calc(-1 * var(--i-margin-sm));
  }
  .-my-md {
    margin-top: calc(-1 * var(--i-margin-md));
    margin-bottom: calc(-1 * var(--i-margin-md));
  }
  .-my-lg {
    margin-top: calc(-1 * var(--i-margin-lg));
    margin-bottom: calc(-1 * var(--i-margin-lg));
  }
  .-my-xl {
    margin-top: calc(-1 * var(--i-margin-xl));
    margin-bottom: calc(-1 * var(--i-margin-xl));
  }
  .-my-2xl {
    margin-top: calc(-1 * var(--i-margin-2xl));
    margin-bottom: calc(-1 * var(--i-margin-2xl));
  }
  .-my-3xl {
    margin-top: calc(-1 * var(--i-margin-3xl));
    margin-bottom: calc(-1 * var(--i-margin-3xl));
  }
}
