@layer utilities {
  $margin-sizes: ('3xs', '2xs', 'xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl');

  $margin-sides: (
    'm': 'margin',
    'mt': 'margin-top',
    'mb': 'margin-bottom',
    'ms': 'margin-left',
    'me': 'margin-right'
  );

  @each $prefix, $property in $margin-sides {
    @each $size in $margin-sizes {
      .#{$prefix}-#{$size} {
        #{$property}: var(--i-margin-#{$size});
      }
    }

    @for $i from 0 through 8 {
      .#{$prefix}-#{$i} {
        #{$property}: var(--i-margin-#{$i});
      }
    }
  }

  @each $size in $margin-sizes {
    .mx-#{$size} {
      margin-right: var(--i-margin-#{$size});
      margin-left: var(--i-margin-#{$size});
    }
    .my-#{$size} {
      margin-top: var(--i-margin-#{$size});
      margin-bottom: var(--i-margin-#{$size});
    }
  }

  @for $i from 0 through 8 {
    .mx-#{$i} {
      margin-right: var(--i-margin-#{$i});
      margin-left: var(--i-margin-#{$i});
    }
    .my-#{$i} {
      margin-top: var(--i-margin-#{$i});
      margin-bottom: var(--i-margin-#{$i});
    }
  }
}
