@layer utilities {
  $padding-sizes: ('3xs', '2xs', 'xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl');

  $padding-sides: (
    'p': 'padding',
    'pt': 'padding-top',
    'pb': 'padding-bottom',
    'ps': 'padding-left',
    'pe': 'padding-right'
  );

  @each $prefix, $property in $padding-sides {
    @each $size in $padding-sizes {
      .#{$prefix}-#{$size} {
        #{$property}: var(--i-padding-#{$size});
      }
    }

    @for $i from 0 through 8 {
      .#{$prefix}-#{$i} {
        #{$property}: var(--i-padding-#{$i});
      }
    }
  }

  @each $size in $padding-sizes {
    .px-#{$size} {
      padding-right: var(--i-padding-#{$size});
      padding-left: var(--i-padding-#{$size});
    }
    .py-#{$size} {
      padding-top: var(--i-padding-#{$size});
      padding-bottom: var(--i-padding-#{$size});
    }
  }

  @for $i from 0 through 8 {
    .px-#{$i} {
      padding-right: var(--i-padding-#{$i});
      padding-left: var(--i-padding-#{$i});
    }
    .py-#{$i} {
      padding-top: var(--i-padding-#{$i});
      padding-bottom: var(--i-padding-#{$i});
    }
  }
}
