@layer utilities {
  $radius-sizes: ('3xs', '2xs', 'xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl', 'full');

  .radius-none {
    border-radius: var(--i-radius-none);
  }

  @each $size in $radius-sizes {
    .radius-#{$size} {
      border-radius: var(--i-radius-#{$size});
    }
  }

  @for $i from 0 through 8 {
    .radius-#{$i} {
      border-radius: var(--i-radius-#{$i});
    }
  }
}
