@layer utilities {
  .w-full {
    width: 100%;
  }

  @for $i from 0 through 100 {
    .w-#{$i} {
      width: #{$i * 8}px;
    }
  }

  @for $i from 1 through 200 {
    .w-#{$i * 4}px {
      width: #{$i * 4}px;
    }
  }
}
