@layer utilities {
  @for $i from 1 through 6 {
    .line-clamp-#{$i} {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $i;
      line-clamp: $i;
    }
  }
}
