@layer utilities {
  $leadings: ('none', 'tight', 'snug', 'normal', 'relaxed', 'loose');

  @each $name in $leadings {
    .leading-#{$name} {
      line-height: var(--i-leading-#{$name});
    }
  }

  @for $i from 0 through 8 {
    .leading-#{$i} {
      line-height: var(--i-heading-leading-#{$i});
    }
  }
}
