@layer themes {
  $border-colors: (
    'default': var(--i-color-gray-200),
    'black': var(--i-color-black),
    'white': var(--i-color-white),
    'subtle': var(--i-color-subtle),
    'info': var(--i-color-blue-500),
    'warning': var(--i-color-amber-400),
    'danger': var(--i-color-red-500),
    'success': var(--i-color-green-400)
  );

  $border-variants: (
    'default': var(--i-border-color),
    'subtle': var(--i-border-subtle-color),
    'info': var(--i-border-info-color),
    'warning': var(--i-border-warning-color),
    'danger': var(--i-border-danger-color),
    'success': var(--i-border-success-color)
  );

  :root {
    @each $name, $value in $border-colors {
      @if $name == 'default' {
        --i-border-color: #{$value};
      } @else {
        --i-border-#{$name}-color: #{$value};
      }
    }

    --i-border-radius: 0px;
    --i-border-style: solid;
    --i-border-width: 1px;

    @each $name, $value in $border-variants {
      @if $name == 'default' {
        --i-border: 1px solid #{$value};
        --i-border-dotted: 1px dotted #{$value};
      } @else {
        --i-border-#{$name}: 1px solid #{$value};
        --i-border-#{$name}-dotted: 1px dotted #{$value};
      }
    }
  }
}
