@use 'sass:map';
@use 'sass:list';

$palettes: (
  'amber': (
    50: (
      hex: #fff9ec,
      rgb: '255, 249, 236'
    ),
    100: (
      hex: #fff1ce,
      rgb: '255, 241, 206'
    ),
    200: (
      hex: #ffe4a4,
      rgb: '255, 228, 164'
    ),
    300: (
      hex: #ffd473,
      rgb: '255, 212, 115'
    ),
    400: (
      hex: #ffc13e,
      rgb: '255, 193, 62'
    ),
    500: (
      hex: #f2a81a,
      rgb: '242, 168, 26'
    ),
    600: (
      hex: #d79110,
      rgb: '215, 145, 16'
    ),
    700: (
      hex: #b8790b,
      rgb: '184, 121, 11'
    ),
    800: (
      hex: #965f08,
      rgb: '150, 95, 8'
    ),
    900: (
      hex: #734606,
      rgb: '115, 70, 6'
    ),
    950: (
      hex: #523104,
      rgb: '82, 49, 4'
    )
  ),
  'blue': (
    50: (
      hex: #eaf2ff,
      rgb: '234, 242, 255'
    ),
    100: (
      hex: #d4e4ff,
      rgb: '212, 228, 255'
    ),
    200: (
      hex: #b4d1ff,
      rgb: '180, 209, 255'
    ),
    300: (
      hex: #82b4ff,
      rgb: '130, 180, 255'
    ),
    400: (
      hex: #3f93fb,
      rgb: '63, 147, 251'
    ),
    500: (
      hex: #1d7cf6,
      rgb: '29, 124, 246'
    ),
    600: (
      hex: #1664e0,
      rgb: '22, 100, 224'
    ),
    700: (
      hex: #114eba,
      rgb: '17, 78, 186'
    ),
    800: (
      hex: #0b3a8c,
      rgb: '11, 58, 140'
    ),
    900: (
      hex: #072b6c,
      rgb: '7, 43, 108'
    ),
    950: (
      hex: #041e4c,
      rgb: '4, 30, 76'
    )
  ),
  'brown': (
    50: (
      hex: #fcf8f6,
      rgb: '252, 248, 246'
    ),
    100: (
      hex: #f7efea,
      rgb: '247, 239, 234'
    ),
    200: (
      hex: #eadacd,
      rgb: '234, 218, 205'
    ),
    300: (
      hex: #d8baa0,
      rgb: '216, 186, 160'
    ),
    400: (
      hex: #c79970,
      rgb: '199, 153, 112'
    ),
    500: (
      hex: #a46c43,
      rgb: '164, 108, 67'
    ),
    600: (
      hex: #8e5d3a,
      rgb: '142, 93, 58'
    ),
    700: (
      hex: #774d31,
      rgb: '119, 77, 49'
    ),
    800: (
      hex: #62412b,
      rgb: '98, 65, 43'
    ),
    900: (
      hex: #4d3523,
      rgb: '77, 53, 35'
    ),
    950: (
      hex: #2a1d14,
      rgb: '42, 29, 20'
    )
  ),
  'cyan': (
    50: (
      hex: #f2fdff,
      rgb: '242, 253, 255'
    ),
    100: (
      hex: #e5faff,
      rgb: '229, 250, 255'
    ),
    200: (
      hex: #baf2ff,
      rgb: '186, 242, 255'
    ),
    300: (
      hex: #7ee6f9,
      rgb: '126, 230, 249'
    ),
    400: (
      hex: #45d7f4,
      rgb: '69, 215, 244'
    ),
    500: (
      hex: #28c9e8,
      rgb: '40, 201, 232'
    ),
    600: (
      hex: #1bb1d3,
      rgb: '27, 177, 211'
    ),
    700: (
      hex: #158baf,
      rgb: '21, 139, 175'
    ),
    800: (
      hex: #106e8d,
      rgb: '16, 110, 141'
    ),
    900: (
      hex: #0c566e,
      rgb: '12, 86, 110'
    ),
    950: (
      hex: #083c4b,
      rgb: '8, 60, 75'
    )
  ),
  'emerald': (
    50: (
      hex: #f5faf5,
      rgb: '245, 250, 245'
    ),
    100: (
      hex: #e8f5ea,
      rgb: '232, 245, 234'
    ),
    200: (
      hex: #c1ecc9,
      rgb: '193, 236, 201'
    ),
    300: (
      hex: #90dfa1,
      rgb: '144, 223, 161'
    ),
    400: (
      hex: #5bd07b,
      rgb: '91, 208, 123'
    ),
    500: (
      hex: #36be63,
      rgb: '54, 190, 99'
    ),
    600: (
      hex: #30a657,
      rgb: '48, 166, 87'
    ),
    700: (
      hex: #268c47,
      rgb: '38, 140, 71'
    ),
    800: (
      hex: #1d7239,
      rgb: '29, 114, 57'
    ),
    900: (
      hex: #185a2d,
      rgb: '24, 90, 45'
    ),
    950: (
      hex: #113c1e,
      rgb: '17, 60, 30'
    )
  ),
  'fuchsia': (
    50: (
      hex: #fdf6fd,
      rgb: '253, 246, 253'
    ),
    100: (
      hex: #fcebfc,
      rgb: '252, 235, 252'
    ),
    200: (
      hex: #f8d0f9,
      rgb: '248, 208, 249'
    ),
    300: (
      hex: #f3acf6,
      rgb: '243, 172, 246'
    ),
    400: (
      hex: #ed87f3,
      rgb: '237, 135, 243'
    ),
    500: (
      hex: #df6be7,
      rgb: '223, 107, 231'
    ),
    600: (
      hex: #ca52d2,
      rgb: '202, 82, 210'
    ),
    700: (
      hex: #ad40b5,
      rgb: '173, 64, 181'
    ),
    800: (
      hex: #8d3394,
      rgb: '141, 51, 148'
    ),
    900: (
      hex: #6f2974,
      rgb: '111, 41, 116'
    ),
    950: (
      hex: #4c194f,
      rgb: '76, 25, 79'
    )
  ),
  'gray': (
    50: (
      hex: #fcfcfd,
      rgb: '252, 252, 253'
    ),
    100: (
      hex: #f4f5f7,
      rgb: '244, 245, 247'
    ),
    200: (
      hex: #e6e8eb,
      rgb: '230, 232, 235'
    ),
    300: (
      hex: #d2d6db,
      rgb: '210, 214, 219'
    ),
    400: (
      hex: #a8afb9,
      rgb: '168, 175, 185'
    ),
    500: (
      hex: #808897,
      rgb: '128, 136, 151'
    ),
    600: (
      hex: #555c6a,
      rgb: '85, 92, 106'
    ),
    700: (
      hex: #3e4553,
      rgb: '62, 69, 83'
    ),
    800: (
      hex: #2a2f38,
      rgb: '42, 47, 56'
    ),
    900: (
      hex: #181c22,
      rgb: '24, 28, 34'
    ),
    950: (
      hex: #0c0f13,
      rgb: '12, 15, 19'
    )
  ),
  'green': (
    50: (
      hex: #f5fcf8,
      rgb: '245, 252, 248'
    ),
    100: (
      hex: #e9f9f0,
      rgb: '233, 249, 240'
    ),
    200: (
      hex: #bff0d1,
      rgb: '191, 240, 209'
    ),
    300: (
      hex: #88e5b0,
      rgb: '136, 229, 176'
    ),
    400: (
      hex: #53d98c,
      rgb: '83, 217, 140'
    ),
    500: (
      hex: #32c36b,
      rgb: '50, 195, 107'
    ),
    600: (
      hex: #28a85c,
      rgb: '40, 168, 92'
    ),
    700: (
      hex: #218f4d,
      rgb: '33, 143, 77'
    ),
    800: (
      hex: #1b753e,
      rgb: '27, 117, 62'
    ),
    900: (
      hex: #155c31,
      rgb: '21, 92, 49'
    ),
    950: (
      hex: #0e3e22,
      rgb: '14, 62, 34'
    )
  ),
  'indigo': (
    50: (
      hex: #f6f8ff,
      rgb: '246, 248, 255'
    ),
    100: (
      hex: #ecf1ff,
      rgb: '236, 241, 255'
    ),
    200: (
      hex: #d3deff,
      rgb: '211, 222, 255'
    ),
    300: (
      hex: #b4c7ff,
      rgb: '180, 199, 255'
    ),
    400: (
      hex: #97b1ff,
      rgb: '151, 177, 255'
    ),
    500: (
      hex: #7d9aff,
      rgb: '125, 154, 255'
    ),
    600: (
      hex: #6180ff,
      rgb: '97, 128, 255'
    ),
    700: (
      hex: #4c67e8,
      rgb: '76, 103, 232'
    ),
    800: (
      hex: #3d54bb,
      rgb: '61, 84, 187'
    ),
    900: (
      hex: #304294,
      rgb: '48, 66, 148'
    ),
    950: (
      hex: #1e2b67,
      rgb: '30, 43, 103'
    )
  ),
  'lime': (
    50: (
      hex: #f7faf2,
      rgb: '247, 250, 242'
    ),
    100: (
      hex: #edf4e2,
      rgb: '237, 244, 226'
    ),
    200: (
      hex: #d4e8b5,
      rgb: '212, 232, 181'
    ),
    300: (
      hex: #b7d77f,
      rgb: '183, 215, 127'
    ),
    400: (
      hex: #9ec549,
      rgb: '158, 197, 73'
    ),
    500: (
      hex: #89b217,
      rgb: '137, 178, 23'
    ),
    600: (
      hex: #779c10,
      rgb: '119, 156, 16'
    ),
    700: (
      hex: #638400,
      rgb: '99, 132, 0'
    ),
    800: (
      hex: #506b00,
      rgb: '80, 107, 0'
    ),
    900: (
      hex: #3e5400,
      rgb: '62, 84, 0'
    ),
    950: (
      hex: #293803,
      rgb: '41, 56, 3'
    )
  ),
  'orange': (
    50: (
      hex: #fff8f3,
      rgb: '255, 248, 243'
    ),
    100: (
      hex: #fff1e5,
      rgb: '255, 241, 229'
    ),
    200: (
      hex: #ffd1b3,
      rgb: '255, 209, 179'
    ),
    300: (
      hex: #ffb482,
      rgb: '255, 180, 130'
    ),
    400: (
      hex: #ff995a,
      rgb: '255, 153, 90'
    ),
    500: (
      hex: #f97d2f,
      rgb: '249, 125, 47'
    ),
    600: (
      hex: #e06c23,
      rgb: '224, 108, 35'
    ),
    700: (
      hex: #c2591b,
      rgb: '194, 89, 27'
    ),
    800: (
      hex: #a14a15,
      rgb: '161, 74, 21'
    ),
    900: (
      hex: #833b0f,
      rgb: '131, 59, 15'
    ),
    950: (
      hex: #5a270a,
      rgb: '90, 39, 10'
    )
  ),
  'pink': (
    50: (
      hex: #fff6fa,
      rgb: '255, 246, 250'
    ),
    100: (
      hex: #ffeaf5,
      rgb: '255, 234, 245'
    ),
    200: (
      hex: #ffcfe9,
      rgb: '255, 207, 233'
    ),
    300: (
      hex: #ffabda,
      rgb: '255, 171, 218'
    ),
    400: (
      hex: #ff83cd,
      rgb: '255, 131, 205'
    ),
    500: (
      hex: #f660be,
      rgb: '246, 96, 190'
    ),
    600: (
      hex: #e046aa,
      rgb: '224, 70, 170'
    ),
    700: (
      hex: #c03490,
      rgb: '192, 52, 144'
    ),
    800: (
      hex: #9d2975,
      rgb: '157, 41, 117'
    ),
    900: (
      hex: #7c225c,
      rgb: '124, 34, 92'
    ),
    950: (
      hex: #55143e,
      rgb: '85, 20, 62'
    )
  ),
  'purple': (
    50: (
      hex: #faf5ff,
      rgb: '250, 245, 255'
    ),
    100: (
      hex: #f3e8ff,
      rgb: '243, 232, 255'
    ),
    200: (
      hex: #e5ccff,
      rgb: '229, 204, 255'
    ),
    300: (
      hex: #d0a4ff,
      rgb: '208, 164, 255'
    ),
    400: (
      hex: #b77cfc,
      rgb: '183, 124, 252'
    ),
    500: (
      hex: #a060f8,
      rgb: '160, 96, 248'
    ),
    600: (
      hex: #864bea,
      rgb: '134, 75, 234'
    ),
    700: (
      hex: #6e3cd0,
      rgb: '110, 60, 208'
    ),
    800: (
      hex: #5833ae,
      rgb: '88, 51, 174'
    ),
    900: (
      hex: #462b8c,
      rgb: '70, 43, 140'
    ),
    950: (
      hex: #311e66,
      rgb: '49, 30, 102'
    )
  ),
  'red': (
    50: (
      hex: #fff5f5,
      rgb: '255, 245, 245'
    ),
    100: (
      hex: #ffe8e8,
      rgb: '255, 232, 232'
    ),
    200: (
      hex: #ffc6c6,
      rgb: '255, 198, 198'
    ),
    300: (
      hex: #ff9c9c,
      rgb: '255, 156, 156'
    ),
    400: (
      hex: #ff6f6f,
      rgb: '255, 111, 111'
    ),
    500: (
      hex: #f65656,
      rgb: '246, 86, 86'
    ),
    600: (
      hex: #e33e3e,
      rgb: '227, 62, 62'
    ),
    700: (
      hex: #c23030,
      rgb: '194, 48, 48'
    ),
    800: (
      hex: #9e2525,
      rgb: '158, 37, 37'
    ),
    900: (
      hex: #781c1c,
      rgb: '120, 28, 28'
    ),
    950: (
      hex: #4f0f0f,
      rgb: '79, 15, 15'
    )
  ),
  'rose': (
    50: (
      hex: #fff6f6,
      rgb: '255, 246, 246'
    ),
    100: (
      hex: #ffecec,
      rgb: '255, 236, 236'
    ),
    200: (
      hex: #ffd2d4,
      rgb: '255, 210, 212'
    ),
    300: (
      hex: #ffb1b6,
      rgb: '255, 177, 182'
    ),
    400: (
      hex: #ff8e98,
      rgb: '255, 142, 152'
    ),
    500: (
      hex: #ff667b,
      rgb: '255, 102, 123'
    ),
    600: (
      hex: #ed4764,
      rgb: '237, 71, 100'
    ),
    700: (
      hex: #cb3753,
      rgb: '203, 55, 83'
    ),
    800: (
      hex: #a62c42,
      rgb: '166, 44, 66'
    ),
    900: (
      hex: #822534,
      rgb: '130, 37, 52'
    ),
    950: (
      hex: #581822,
      rgb: '88, 24, 34'
    )
  ),
  'sky': (
    50: (
      hex: #f3faff,
      rgb: '243, 250, 255'
    ),
    100: (
      hex: #e6f3ff,
      rgb: '230, 243, 255'
    ),
    200: (
      hex: #c4e3ff,
      rgb: '196, 227, 255'
    ),
    300: (
      hex: #99d0ff,
      rgb: '153, 208, 255'
    ),
    400: (
      hex: #6abcff,
      rgb: '106, 188, 255'
    ),
    500: (
      hex: #2da9ff,
      rgb: '45, 169, 255'
    ),
    600: (
      hex: #0093e7,
      rgb: '0, 147, 231'
    ),
    700: (
      hex: #007bc4,
      rgb: '0, 124, 196'
    ),
    800: (
      hex: #0a659e,
      rgb: '10, 101, 158'
    ),
    900: (
      hex: #0a4f7d,
      rgb: '10, 79, 125'
    ),
    950: (
      hex: #063555,
      rgb: '6, 53, 85'
    )
  ),
  'slate': (
    50: (
      hex: #f7f9fa,
      rgb: '247, 249, 250'
    ),
    100: (
      hex: #eff1f3,
      rgb: '239, 241, 243'
    ),
    200: (
      hex: #dce0e3,
      rgb: '220, 224, 227'
    ),
    300: (
      hex: #c5cace,
      rgb: '197, 202, 206'
    ),
    400: (
      hex: #afb5ba,
      rgb: '175, 181, 186'
    ),
    500: (
      hex: #9ba2a8,
      rgb: '155, 162, 168'
    ),
    600: (
      hex: #868e95,
      rgb: '134, 142, 149'
    ),
    700: (
      hex: #70777d,
      rgb: '112, 119, 125'
    ),
    800: (
      hex: #5b6165,
      rgb: '91, 97, 101'
    ),
    900: (
      hex: #474c4f,
      rgb: '71, 76, 79'
    ),
    950: (
      hex: #2f3235,
      rgb: '47, 50, 53'
    )
  ),
  'stone': (
    50: (
      hex: #faf8f6,
      rgb: '250, 248, 246'
    ),
    100: (
      hex: #f2f1ee,
      rgb: '242, 241, 238'
    ),
    200: (
      hex: #e1dfdb,
      rgb: '225, 223, 219'
    ),
    300: (
      hex: #ccc9c3,
      rgb: '204, 201, 195'
    ),
    400: (
      hex: #b8b4ad,
      rgb: '184, 180, 173'
    ),
    500: (
      hex: #a5a199,
      rgb: '165, 161, 153'
    ),
    600: (
      hex: #918c84,
      rgb: '145, 140, 132'
    ),
    700: (
      hex: #7a766f,
      rgb: '122, 118, 111'
    ),
    800: (
      hex: #635f5a,
      rgb: '99, 95, 90'
    ),
    900: (
      hex: #4d4b46,
      rgb: '77, 75, 70'
    ),
    950: (
      hex: #34322f,
      rgb: '52, 50, 47'
    )
  ),
  'teal': (
    50: (
      hex: #f1fbfb,
      rgb: '241, 251, 251'
    ),
    100: (
      hex: #e1f6f5,
      rgb: '225, 246, 245'
    ),
    200: (
      hex: #afedec,
      rgb: '175, 237, 236'
    ),
    300: (
      hex: #66dfdf,
      rgb: '102, 223, 223'
    ),
    400: (
      hex: #00cece,
      rgb: '0, 206, 206'
    ),
    500: (
      hex: #00b8b8,
      rgb: '0, 184, 184'
    ),
    600: (
      hex: #00a1a1,
      rgb: '0, 161, 161'
    ),
    700: (
      hex: #008888,
      rgb: '0, 136, 136'
    ),
    800: (
      hex: #006e6e,
      rgb: '0, 110, 110'
    ),
    900: (
      hex: #005757,
      rgb: '0, 87, 87'
    ),
    950: (
      hex: #003a3a,
      rgb: '0, 58, 58'
    )
  ),
  'violet': (
    50: (
      hex: #f9f7ff,
      rgb: '249, 247, 255'
    ),
    100: (
      hex: #f2eeff,
      rgb: '242, 238, 255'
    ),
    200: (
      hex: #e1d9ff,
      rgb: '225, 217, 255'
    ),
    300: (
      hex: #cdbefe,
      rgb: '205, 190, 255'
    ),
    400: (
      hex: #bba3ff,
      rgb: '187, 163, 255'
    ),
    500: (
      hex: #aa88ff,
      rgb: '170, 136, 255'
    ),
    600: (
      hex: #9a67ff,
      rgb: '154, 103, 255'
    ),
    700: (
      hex: #844fe3,
      rgb: '132, 79, 227'
    ),
    800: (
      hex: #6b3fba,
      rgb: '107, 63, 186'
    ),
    900: (
      hex: #543293,
      rgb: '84, 50, 147'
    ),
    950: (
      hex: #381f67,
      rgb: '56, 31, 103'
    )
  ),
  'yellow': (
    50: (
      hex: #fffdf2,
      rgb: '255, 253, 242'
    ),
    100: (
      hex: #fffbe5,
      rgb: '255, 251, 229'
    ),
    200: (
      hex: #fff3b8,
      rgb: '255, 243, 184'
    ),
    300: (
      hex: #ffe785,
      rgb: '255, 231, 133'
    ),
    400: (
      hex: #ffdf59,
      rgb: '255, 223, 89'
    ),
    500: (
      hex: #fadd3a,
      rgb: '250, 221, 58'
    ),
    600: (
      hex: #e0c52e,
      rgb: '224, 197, 46'
    ),
    700: (
      hex: #c9af25,
      rgb: '201, 175, 37'
    ),
    800: (
      hex: #a4931d,
      rgb: '164, 147, 29'
    ),
    900: (
      hex: #867817,
      rgb: '134, 120, 23'
    ),
    950: (
      hex: #5a4f0d,
      rgb: '90, 79, 13'
    )
  ),
  'zinc': (
    50: (
      hex: #f8f8f8,
      rgb: '248, 248, 248'
    ),
    100: (
      hex: #f1f1f1,
      rgb: '241, 241, 241'
    ),
    200: (
      hex: #dfdfdf,
      rgb: '223, 223, 223'
    ),
    300: (
      hex: #c9c9c9,
      rgb: '201, 201, 201'
    ),
    400: (
      hex: #b4b4b4,
      rgb: '180, 180, 180'
    ),
    500: (
      hex: #a1a1a1,
      rgb: '161, 161, 161'
    ),
    600: (
      hex: #8d8d8d,
      rgb: '141, 141, 141'
    ),
    700: (
      hex: #767676,
      rgb: '118, 118, 118'
    ),
    800: (
      hex: #606060,
      rgb: '96, 96, 96'
    ),
    900: (
      hex: #4b4b4b,
      rgb: '75, 75, 75'
    ),
    950: (
      hex: #323232,
      rgb: '50, 50, 50'
    )
  )
);

@mixin generate-palette($name, $shades) {
  @each $shade, $values in $shades {
    --i-color-#{$name}-#{$shade}: #{map.get($values, hex)};
    --i-color-#{$name}-#{$shade}-rgb: #{map.get($values, rgb)};
  }

  --i-color-#{$name}: var(--i-color-#{$name}-500);
  --i-color-#{$name}-rgb: var(--i-color-#{$name}-500-rgb);
}

@layer themes {
  :root {
    --i-color-brand-blue: #14305d;
    --i-color-brand-blue-rgb: 20, 48, 93;
    --i-color-brand-yellow: #ea9b02;
    --i-color-brand-yellow-rgb: 234, 155, 2;
    --i-color-brand-primary: var(--i-color-brand-blue);
    --i-color-brand-accent: var(--i-color-brand-yellow);

    --i-color-black: #000000;
    --i-color-black-rgb: var(--i-color-neutral-black-rgb);
    --i-color-white: #ffffff;
    --i-color-white-rgb: var(--i-color-neutral-white-rgb);
    --i-color-neutral-black: #000000;
    --i-color-neutral-black-rgb: 0, 0, 0;
    --i-color-neutral-white: #ffffff;
    --i-color-neutral-white-rgb: 255, 255, 255;

    --i-color-primary: var(--i-color-blue);
    --i-color-primary-rgb: var(--i-color-blue-rgb);
    --i-color-secondary: var(--i-color-gray-600);
    --i-color-secondary-rgb: var(--i-color-gray-600-rgb);
    --i-color-success: var(--i-color-green);
    --i-color-success-rgb: var(--i-color-green-rgb);
    --i-color-info: var(--i-color-cyan);
    --i-color-info-rgb: var(--i-color-cyan-rgb);
    --i-color-warning: var(--i-color-amber);
    --i-color-warning-rgb: var(--i-color-amber-rgb);
    --i-color-danger: var(--i-color-red);
    --i-color-danger-rgb: var(--i-color-red-rgb);
    --i-color-subtle: var(--i-color-gray-100);
    --i-color-subtle-rgb: var(--i-color-gray-100-rgb);
    --i-color-dark: var(--i-color-gray-900);
    --i-color-dark-rgb: var(--i-color-gray-900-rgb);

    @each $name, $shades in $palettes {
      @include generate-palette($name, $shades);
    }
  }
}
