@use 'sass:map';

@layer components {
  $button-sizes: (
    '3xs': (
      'gap': var(--i-gap-3xs),
      'radius': var(--i-radius-2xs),
      'padding': var(--i-padding-3xs),
      'height': var(--i-size-3xs),
      'font-size': var(--i-text-3xs)
    ),
    '2xs': (
      'gap': var(--i-gap-2xs),
      'radius': var(--i-radius-2xs),
      'padding': var(--i-padding-2xs),
      'height': var(--i-size-2xs),
      'font-size': var(--i-text-2xs)
    ),
    'xs': (
      'gap': var(--i-gap-xs),
      'radius': var(--i-radius-xs),
      'padding': var(--i-padding-xs),
      'height': var(--i-size-xs),
      'font-size': var(--i-text-xs)
    ),
    'sm': (
      'gap': var(--i-gap-sm),
      'radius': var(--i-radius-sm),
      'padding': var(--i-padding-sm),
      'height': var(--i-size-sm),
      'font-size': var(--i-text-sm)
    ),
    'md': (
      'gap': var(--i-gap-md),
      'radius': var(--i-radius-md),
      'padding': var(--i-padding-md),
      'height': var(--i-size-md),
      'font-size': var(--i-text-md)
    ),
    'lg': (
      'gap': var(--i-gap-lg),
      'radius': var(--i-radius-lg),
      'padding': var(--i-padding-lg),
      'height': var(--i-size-lg),
      'font-size': var(--i-text-lg)
    )
  );

  $button-variants: (
    'primary': (
      'base': var(--i-color-blue-500),
      'hover': var(--i-color-blue-600),
      'active': var(--i-color-blue-700),
      'disabled': var(--i-color-blue-300)
    ),
    'warning': (
      'base': var(--i-color-amber-500),
      'hover': var(--i-color-amber-600),
      'active': var(--i-color-amber-700),
      'disabled': var(--i-color-amber-300)
    ),
    'danger': (
      'base': var(--i-color-red-500),
      'hover': var(--i-color-red-600),
      'active': var(--i-color-red-700),
      'disabled': var(--i-color-red-300)
    ),
    'success': (
      'base': var(--i-color-green-500),
      'hover': var(--i-color-green-600),
      'active': var(--i-color-green-700),
      'disabled': var(--i-color-green-300)
    )
  );

  i-button,
  .i-btn {
    --i-button-shadow: var(--i-shadow-sm);
    --i-button-font-family: var(--i-font-heading);
    --i-button-gap: var(--i-gap-md);
    --i-button-border-radius: var(--i-radius-md);
    --i-button-padding: 0 var(--i-padding-md);
    --i-button-height: var(--i-size-md);
    --i-button-min-width: 0px;
    --i-button-font-size: var(--i-text-md);
    --i-button-border: none;
    --i-button-color: var(--i-color-white);
    --i-button-background-color: var(--i-color-blue-500);
    --i-button-hover-background-color: var(--i-color-blue-600);
    --i-button-active-background-color: var(--i-color-blue-700);
    --i-background-color: var(--i-button-background-color);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition:
      background-color 120ms ease,
      box-shadow 120ms ease,
      transform 60ms ease;

    cursor: pointer;

    box-shadow: var(--i-button-shadow);
    border: var(--i-button-border);
    border-radius: var(--i-button-border-radius);
    background-color: var(--i-background-color);
    padding: 0;

    min-width: var(--i-button-min-width) !important;
    height: var(--i-button-height);

    color: var(--i-button-color);
    font-size: var(--i-button-font-size);
    font-family: var(--i-button-font-family);
    user-select: none;
    text-decoration: none;

    > .i-button-inner {
      all: unset;

      display: flex;
      justify-content: center;
      align-items: center;

      gap: var(--i-button-gap);
      cursor: inherit;
      padding: var(--i-button-padding);
      width: 100%;
      height: 100%;
    }

    &[aria-disabled='true'] {
      cursor: not-allowed;
      pointer-events: none;
    }

    @each $size, $props in $button-sizes {
      &[size='#{$size}'],
      &.i-btn-#{$size} {
        --i-button-gap: #{map.get($props, 'gap')};
        --i-button-border-radius: #{map.get($props, 'radius')};
        --i-button-padding: 0 #{map.get($props, 'padding')};
        --i-button-height: #{map.get($props, 'height')};
        --i-button-min-width: #{map.get($props, 'height')};
        --i-button-font-size: #{map.get($props, 'font-size')};
      }
    }

    @each $variant, $colors in $button-variants {
      &[variant='#{$variant}'],
      &.i-btn-#{$variant} {
        --i-button-background-color: #{map.get($colors, 'base')};
        --i-button-hover-background-color: #{map.get($colors, 'hover')};
        --i-button-active-background-color: #{map.get($colors, 'active')};

        &[aria-disabled='true'] {
          --i-button-background-color: #{map.get($colors, 'disabled')};
        }
      }
    }

    &[variant='outline'],
    &.i-btn-outline {
      --i-button-color: var(--i-text-color);
      --i-button-border: var(--i-border);
      --i-button-background-color: var(--i-color-white);
      --i-button-hover-background-color: var(--i-color-gray-50);
      --i-button-active-background-color: var(--i-color-gray-100);
    }

    &:not([aria-disabled='true']):hover {
      --i-background-color: var(--i-button-hover-background-color);
    }

    &:not([aria-disabled='true']):active {
      --i-background-color: var(--i-button-active-background-color);
      --i-button-shadow: var(--i-shadow-xs);
      transform: translateY(1px);
    }

    &:focus-visible {
      outline: 2px solid var(--i-color-blue-400);
      outline-offset: 2px;
    }
  }
}
