@layer components {
  i-code-viewer {
    display: flex;
    flex-direction: column;

    .i-code-viewer {
      --i-background-color: var(--i-color-gray-50);

      display: flex;
      border: var(--i-border);
      border-radius: var(--i-radius-md);
      height: 100%;
      overflow: hidden;

      &.wrap {
        .i-code-viewer-pre {
          white-space: pre-wrap;
          word-break: break-word;
        }
      }

      code {
        --i-background-color: initial;
      }
    }

    .i-code-viewer-loading,
    .i-code-viewer-error {
      border-bottom: var(--i-border);
      padding: var(--i-padding-sm) var(--i-padding-md);
      font-size: var(--i-text-sm);
    }

    .i-code-viewer-loading {
      --i-background-color: var(--i-color-gray-50);
    }

    .i-code-viewer-error {
      --i-background-color: var(--i-color-red-50);
      color: var(--i-color-red-700);
    }

    .i-code-viewer-scroll {
      display: flex;
      position: relative;
      flex: 1 1 100%;
      flex-direction: column;
      min-width: 0;

      &.has-overlay {
        .i-code-viewer-gutter {
          padding-top: 37px;
        }

        .i-code-viewer-pre {
          padding-top: 24px;
        }
      }
    }

    .i-code-viewer-content {
      --i-background-color: #22272e;
      flex: 1 1 100%;
      min-width: 0;
      color: #adbac7;
    }

    .i-code-viewer-overlay {
      --i-background-color: transparent;

      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      left: 2px;
      justify-content: space-between;
      align-items: center;
      gap: var(--i-spacing-xs);
      z-index: 5;
      padding: 6px 8px;
    }

    .i-code-viewer-filetype {
      display: inline-flex;
      align-items: center;
      padding: 2px 4px;
      color: var(--i-color-gray-50);
      font-weight: var(--i-font-weight-semibold);
      font-size: var(--i-text-xs);
      line-height: 1.4;
      font-family: var(--i-font-heading);
    }

    .i-code-viewer-gutter {
      --i-background-color: var(--i-color-gray-100);

      flex: 0 0 auto;
      border-right: var(--i-border);
      padding: var(--i-padding-md) var(--i-padding-sm);
      color: var(--i-color-gray-500);
      font-size: var(--i-text-sm);
      line-height: 1.6;
      font-family: var(--i-font-family-mono);
      user-select: none;

      .i-code-viewer-line {
        min-width: 28px;
        text-align: right;
      }
    }

    .i-code-viewer-pre {
      --i-background-color: transparent;

      margin: 0;
      width: 100%;
      min-width: 0;
      font-size: var(--i-text-sm);
      line-height: 1.6;
      font-family: var(--i-font-family-mono);
      white-space: pre;
    }
  }
}
