@layer components {
  .i-grid {
    --i-background-color: var(--i-color-white);
    --i-grid-header-bg: var(--i-color-gray-100);
    --i-grid-header-bg-hover: var(--i-color-gray-200);
    --i-grid-row-bg: var(--i-color-white);
    --i-grid-row-bg-hover: var(--i-color-blue-50);
    --i-grid-row-bg-odd: var(--i-color-gray-50);

    display: flex;
    flex-direction: column;
    border: none;
    border-bottom-right-radius: var(--i-radius-md);
    border-bottom-left-radius: var(--i-radius-md);
    width: 100%;
    min-height: 0;
    overflow: hidden;
    font-size: 14px;

    .i-grid-viewport {
      flex: 1 1 auto;
      width: 100%;
      min-height: 0;
      overflow: auto;
    }

    i-grid-header-row {
      --i-background-color: var(--i-grid-header-bg);

      display: flex;
      position: sticky;
      top: 0;
      align-items: stretch;
      z-index: 30;
      box-sizing: border-box;
      border-bottom: var(--i-border);
      width: 100%;
      min-width: 100%;
      overflow-x: clip;
      font-weight: 600;

      i-grid-header-cell {
        display: inline-flex;
        position: relative;
        flex: 1 1 0;
        justify-content: space-between;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;
        box-sizing: border-box;
        padding: var(--i-padding-2xs) var(--i-padding-sm);
        min-width: 0;
        user-select: none;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.i-grid-header-cell--sortable {
          cursor: pointer;
        }
        &.i-grid-header-cell--frozen {
          z-index: 15;
        }
        &.i-grid-header-cell--auto {
          min-width: 140px;
        }

        .i-grid-header-cell__content {
          display: block;
          flex: 1 1 auto;
          min-width: 0;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .i-grid-header-cell__icon {
          display: inline-flex;
          flex: 0 0 auto;
          align-items: center;
        }

        &.i-grid-header-cell--resizable {
          .i-grid-header-cell__resize-handle {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            cursor: col-resize;
            width: 4px;
            height: 100%;
            --i-background-color: none;

            &::before {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 3px;
              width: 1px;
              content: '';
              --i-background-color: var(--i-color-gray-200);
            }

            &:hover {
              background-color: var(--i-color-gray-300);
            }
          }
        }

        &.i-grid-selection-cell {
          flex: 0 0 auto;
          justify-content: center;
          border-right: 1px solid var(--i-color-gray-200);
          padding-right: 0.125rem;
          padding-left: 0.125rem;
          width: 28px;

          .i-grid-header-cell__resize-handle {
            display: none;
          }
        }

        &.i-grid-selection-cell--header {
          z-index: 40;

          .i-grid-header-cell__content {
            display: flex;
            justify-content: center;
            align-items: center;

            input[type='checkbox'] {
              width: 14px;
              height: 14px;
            }
          }
        }

        &.i-grid-number-cell {
          flex: 0 0 auto;
          z-index: 25;
          padding-right: var(--i-padding-lg);
          padding-left: var(--i-padding-sm);
        }

        &.i-grid-expand-cell {
          z-index: 40;
          border-right: 1px solid var(--i-color-gray-200);
          padding: var(--i-padding-2xs) var(--i-padding-xs);

          .i-grid-header-cell__content {
            overflow: visible;
          }
        }

        .i-grid-tree-head {
          display: inline-flex;
          align-items: center;
          min-width: 0;

          .i-grid-tree-expand-all {
            margin-right: 8px;
          }

          .i-grid-tree-header-checkbox {
            margin-right: 8px;
            width: 14px;
            height: 14px;
          }

          .i-grid-tree-head__title {
            display: inline-block;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &:hover {
          --i-background-color: var(--i-grid-header-bg-hover);

          .i-grid-header-cell__resize-handle {
            --i-background-color: none;
          }
        }
      }

      i-grid-header-cell-group {
        --i-background-color: var(--i-grid-header-bg);

        display: inline-flex;
        position: relative;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: stretch;
        box-sizing: border-box;
        border-right: 1px solid var(--i-color-gray-200);
        width: max-content;
        min-width: 0;

        > i-grid-header-cell:first-child {
          flex: 0 0 auto;
          justify-content: center;
          cursor: default;
          box-sizing: border-box;
          border-bottom: 1px solid var(--i-color-gray-200);
          padding: var(--i-padding-2xs) var(--i-padding-sm);
          width: 100%;
          text-align: center;

          .i-grid-header-cell__resize-handle {
            display: none;
          }

          &.i-grid-header-cell--resizable {
            .i-grid-header-cell__resize-handle {
              display: none;
            }
          }
        }

        i-grid-header-cell-group-columns {
          display: inline-flex;
          flex: 0 0 auto;
          align-items: stretch;
          box-sizing: border-box;
          width: max-content;
          min-width: 0;

          > i-grid-header-cell {
            flex-shrink: 0;
            align-items: center;
            box-sizing: border-box;
          }
        }
      }
    }

    i-grid-row {
      display: flex;
      position: relative;
      z-index: 1;
      width: 100%;
      min-width: 0;

      > * {
        min-width: 0;
      }

      &.i-grid-selection-row {
        cursor: pointer;
      }

      &::before {
        position: absolute;
        z-index: 0;
        inset: 0;
        content: '';
        --i-background-color: transparent;
        border-bottom: var(--i-border-dotted);
      }

      &:nth-of-type(odd) {
        --i-background-color: var(--i-grid-row-bg-odd);

        &::before {
          --i-background-color: var(--i-grid-row-bg-odd);
        }

        .i-grid-cell--frozen,
        .i-grid-selection-cell,
        .i-grid-number-cell,
        .i-grid-expand-cell {
          --i-background-color: var(--i-grid-row-bg-odd);
        }
      }

      &:hover {
        --i-background-color: var(--i-grid-row-bg-hover);

        &::before {
          --i-background-color: var(--i-grid-row-bg-hover);
        }

        .i-grid-cell--frozen,
        .i-grid-selection-cell,
        .i-grid-number-cell,
        .i-grid-expand-cell {
          --i-background-color: var(--i-grid-row-bg-hover);
        }
      }

      &:last-child {
        i-grid-cell {
          border-bottom: none;
        }
      }
    }

    i-grid-cell {
      --i-background-color: transparent;

      display: flex;
      position: relative;
      flex: 1 1 0;
      align-items: center;
      gap: var(--i-spacing-5xs);
      z-index: 1;
      padding: var(--i-padding-2xs) var(--i-padding-sm);
      min-width: 0;
      overflow: hidden;

      > * {
        min-width: 0;
      }

      &.i-grid-cell--auto {
        min-width: 140px;
      }

      &.i-grid-cell--frozen {
        z-index: 15;
        --i-background-color: var(--i-color-white);
        box-shadow: 1px 0 2px rgba(var(--i-color-gray-300-rgb), 0.3);
        border-bottom: var(--i-border-dotted);
      }

      .i-grid-cell__content {
        display: block;
        flex: 1 1 auto;
        min-width: 0;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.i-grid-selection-cell {
        --i-background-color: var(--i-grid-row-bg);

        flex: 0 0 auto;
        justify-content: center;
        border-bottom: var(--i-border-dotted);
        padding-right: 0.125rem;
        padding-left: 0.125rem;
        width: 28px;

        input[type='checkbox'],
        input[type='radio'] {
          margin: 0;
          width: 14px;
          height: 14px;
        }
      }

      &.i-grid-selection-cell--body {
        z-index: 20;
      }

      &.i-grid-number-cell {
        --i-background-color: var(--i-grid-row-bg);

        flex: 0 0 auto;
        justify-content: flex-end;
        z-index: 18;
        border-bottom: var(--i-border-dotted);
        padding-right: var(--i-padding-lg);
        padding-left: var(--i-padding-sm);
      }

      &.i-grid-expand-cell {
        --i-background-color: var(--i-grid-row-bg);

        flex: 0 0 auto;
        justify-content: center;
        z-index: 20;
        border-bottom: var(--i-border-dotted);
        padding-right: 0.125rem;
        padding-left: 0.125rem;
        width: 32px;
      }

      .i-grid-expand-cell__content {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      .i-grid-tree-inline {
        display: inline-flex;
        align-items: center;
        min-width: 0;
        max-width: 100%;

        .i-grid-tree-checkbox + .i-grid-cell {
          padding: var(--i-padding-2xs) 0;
        }
      }

      .i-grid-tree-indent {
        display: inline-block;
        flex: 0 0 auto;
      }

      .i-grid-tree-toggle {
        display: inline-flex;
        flex: 0 0 auto;
        cursor: pointer;
        margin-right: 8px;
      }

      .i-grid-tree-spacer {
        display: inline-flex;
        flex: 0 0 16px;
        margin-right: 8px;
        width: 16px;
      }

      .i-grid-tree-checkbox,
      .i-grid-tree-radio {
        flex: 0 0 auto;
        margin: 0;
        margin-right: 8px;
        width: 14px;
        height: 14px;
      }

      .i-grid-tree-text {
        display: inline-block;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    i-grid-expandable-row {
      display: flex;
      border-bottom: var(--i-border-dotted);
      padding: var(--i-padding-md);
    }

    .i-grid-footer {
      border-top: 1px solid var(--i-color-gray-200);
      padding: 0.5rem 0.75rem;

      .i-paginator {
        display: flex;
        align-items: center;
        gap: var(--i-gap-md);
      }
    }
  }
}
