@layer components {
  i-loading {
    --i-background-color: initial;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--i-spacing-3xs);
    color: var(--i-text-color);

    &[light='true'],
    &.light {
      color: var(--i-color-white);
    }

    .spinner-border {
      display: inline-block;
      animation: i-spinner-rotate 0.75s linear infinite;
      border: 0.25em solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;

      &.spinner-border-sm {
        border-width: 0.2em;
        width: 1rem;
        height: 1rem;
      }

      &.spinner-border-lg {
        border-width: 0.3em;
        width: 3rem;
        height: 3rem;
      }
    }

    .sr-only {
      position: absolute;
      margin: -1px;
      padding: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
      white-space: nowrap;
    }
  }

  @keyframes i-spinner-rotate {
    to {
      transform: rotate(360deg);
    }
  }
}
